.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120%;
  padding: 20px;
  color: white;
}

.App-body {
  background-color: rgb(219, 219, 219);
  height: 100%;
  padding: 20px;
  color: rgb(48, 57, 58);
  margin: 0 auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
